/* Enter your custom styles here */

.size5 {
	font-size : 1.5rem;
    margin-top: 5px;
}


/*#application-arledesmafiorimmpaniolesentregas-display-component---Login--loginButton-inner {
    height : 35px !important;
    font-size : 1.0rem !important;
   
}

#application-arledesmafiorimmpaniolesentregas-display-component---Employee--logOutBtnEmp-inner {
    height : 35px !important;
    font-size : 1.0rem !important;
   
}

#application-arledesmafiorimmpaniolesentregas-display-component---Loan--logOutBtnLoan-inner {
    height : 35px !important;
    font-size : 1.0rem !important;
   
}

#application-arledesmafiorimmpaniolesentregas-display-component---Loan--btnAccept-inner {
    height : 35px !important;
    font-size : 1.0rem !important;
   
}

#application-arledesmafiorimmpaniolesentregas-display-component---Loan--btnBack-inner {
    height : 35px !important;
    font-size : 1.0rem !important;
   
}*/
